In [1]:
#A super market chain has introduced a promotional activity in its selected
#outlets in the city to increase the sales volume. Based on the data given
#below, check whether the promotional activity resulted in increasing the
#sales?

In [2]:
import pandas as mypandas 
from scipy import stats as mystats

In [3]:
myData=mypandas.read_csv("Sales_Promotion.csv")
SO1=myData.Sales_Out1
SO2=myData.Sales_Out2
myData

    Sales_Out1  Sales_Out2
0         1217        1731
1         1416        1420
2         1381        1065
3         1413        1612
4         1800        1361
5         1724        1259
6         1310        1470
7         1616         622
8         1941        1711
9         1792        2315
10        1453        1180
11        1780        1515

In [4]:
xbar1=SO1.mean()
print("xbar= ",xbar1)
xbar2=SO2.mean()
print("xbar2= ",xbar2)
SD1=SO1.std()
SD2=SO2.std()
v=mystats.ttest_ind(SO1,SO2)
print("pvalue", v.pvalue)
print("tstatistic ",v.statistic)
if v.pvalue > 0.05:
    print("Promotional activity is not helping the growth")
else:
    print("Promotional activity is helping the growth")

xbar=  1570.25
xbar2=  1438.4166666666667
pvalue 0.3462502310190172
tstatistic  0.9625184533861653
Promotional activity is not helping the growth